.reloadButton {
  background: none;
  padding: 12px;
  border-radius: 20px;
  border-style: none;
  box-shadow: inset 0 0 0 2px #dedede;
  margin: 25px 125px;
  width: 280px;
  font-size: 28px;
}

.reloadButton:hover {
  box-shadow: none;
  background: #dedede;
  cursor: pointer;
}

.reloadButton:focus {
  background: #dedede;
}

#storeInfo {
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #dedede;
  margin-right: 25px;
  width: 250px;
}

#customerInfo {
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #dedede;
  width: 250px;
}

.flexInline {
  width: 550px;
  display: inline-flex;
}

.subtitle {
  text-justify: distribute-all-lines;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.infoListing {
  padding: 4px;
}

.orderInfo {
  padding: 10px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #dedede;
  margin-top: 25px;
  width: 530px;
}

.disabled {
  color: #bebebe;
}

#updateOrderButton {
  background: none;
  padding: 12px;
  border-radius: 20px;
  border-style: none;
  box-shadow: inset 0 0 0 2px #dedede;
  font-size: 36px;
  margin-top: 25px;
  width: 550px;
}

#updateOrderButton:hover {
  box-shadow: none;
  background: #dedede;
  cursor: pointer;
}

#updateOrderButton:focus {
  background: #dedede;
}
