body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

button:targer {
  border-style: none;
  background: #dedede;
}

.header {
  position: sticky;
  top: 10px;
  width: 100%;
}

.headerImg {
  width: 100%;
}

.header-container {
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-title {
  flex: 0 0 1;

  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 44px;

  color: white;
}

.home-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,0);
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 0;
}

.home-button:hover {
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.home-button-img {
  position: absolute;
  filter: invert(100%);
  top: 24px;
  left: 24px;
  width: 30px;
}

.content {
  position: absolute;
  top: 90px;
  width: 550px;
  margin: 25px;
}

.title {
  text-justify: distribute-all-lines;
  text-align: center;
  font-size: 36px;
  margin: 12px;
}

.body {
  text-align: center;
  margin: 1em;
}

.bigButton {
  width: 100%;
  height: 100px;
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  text-decoration: none;
  color: black;
  border-radius: 25px;
  box-shadow: inset 0 0 0 2px #dedede;
}

.bigButton:hover {
  box-shadow: none;
  background: #dedede;
}

.menu-listing-container {
  padding: 10px;
  margin: 0px 0 25px 0;
  width: 530px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #dedede;
  display: flex;
  flex-wrap: wrap;
}

.flexContainer {
  flex-grow: 1;
}

.menu-listing-name-container {
  font-size: 26px;
}

.menu-listing-cost-container {
  font-size: 20px;
}

.menu-listing-quantity {
  width: 50px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.menu-listing-button {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px #dedede;
}

.menu-listing-button:hover {
  cursor: pointer;
  background: #dedede;
  box-shadow: none;
}

.menu-listing-button-img {
  position: relative;
  top: 7px;
  left: 7px;
  width: 16px;
  height: 16px;
}

.footerBar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footerText {
  margin: 0 auto;
  width: max-content;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 6px 6px 0 0 ;
  background: white;
}
